In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
datafile = '../vehicles.csv'
sourcedf = pd.read_csv(datafile)
sourcedf.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7088746062,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,10299,2012.0,acura,tl,NaN,NaN,...,NaN,NaN,other,blue,https://images.craigslist.org/01414_3LIXs9EO33...,2012 Acura TL Base 4dr Sedan Offered by: B...,NaN,nc,35.7636,-78.7443
1,7088745301,https://greensboro.craigslist.org/ctd/d/bmw-3-...,greensboro,https://greensboro.craigslist.org,0,2011.0,bmw,335,NaN,6 cylinders,...,rwd,NaN,convertible,blue,https://images.craigslist.org/00S0S_1kTatLGLxB...,BMW 3 Series 335i Convertible Navigation Dakot...,NaN,nc,NaN,NaN
2,7088744126,https://greensboro.craigslist.org/cto/d/greens...,greensboro,https://greensboro.craigslist.org,9500,2011.0,jaguar,xf,excellent,NaN,...,NaN,NaN,NaN,blue,https://images.craigslist.org/00505_f22HGItCRp...,2011 jaguar XF premium - estate sale. Retired ...,NaN,nc,36.1032,-79.8794
3,7088743681,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,3995,2004.0,honda,element,NaN,NaN,...,fwd,NaN,SUV,orange,https://images.craigslist.org/00E0E_eAUnhFF86M...,2004 Honda Element LX 4dr SUV Offered by: ...,NaN,nc,35.7636,-78.7443
4,7074612539,https://lincoln.craigslist.org/ctd/d/gretna-20...,lincoln,https://lincoln.craigslist.org,41988,2016.0,chevrolet,silverado k2500hd,NaN,NaN,...,NaN,NaN,NaN,NaN,https://images.craigslist.org/00S0S_8msT7RQquO...,"Shop Indoors, Heated Showroom!!!www.gretnaauto...",NaN,ne,41.1345,-96.2458

In [3]:
# Remove rows with oiut a paint color
sourcedf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539759 entries, 0 to 539758
Data columns (total 25 columns):
id              539759 non-null int64
url             539759 non-null object
region          539759 non-null object
region_url      539759 non-null object
price           539759 non-null int64
year            538772 non-null float64
manufacturer    516175 non-null object
model           531746 non-null object
condition       303707 non-null object
cylinders       321264 non-null object
fuel            536366 non-null object
odometer        440783 non-null float64
title_status    536819 non-null object
transmission    535786 non-null object
vin             315349 non-null object
drive           383987 non-null object
size            168550 non-null object
type            392290 non-null object
paint_color     365520 non-null object
image_url       539740 non-null object
description     539738 non-null object
county          0 non-null float64
state           539759 non-null object
lat             530785 non-null float64
long            530785 non-null float64
dtypes: float64(5), int64(2), object(18)
memory usage: 103.0+ MB

In [13]:
colordf = sourcedf.dropna(subset=["paint_color"])
sourcedf.describe()

,id,price,year,odometer,county,lat,long
count,5.397590e+05,5.397590e+05,538772.000000,4.407830e+05,0.0,530785.000000,530785.000000
mean,7.087609e+09,1.954214e+05,2009.830982,1.008008e+05,NaN,38.432128,-94.040501
std,5.234176e+06,2.208252e+07,9.161334,1.767058e+05,NaN,5.916936,17.626658
min,7.065765e+09,0.000000e+00,0.000000,0.000000e+00,NaN,-84.911400,-176.810000
25%,7.084240e+09,4.400000e+03,2007.000000,4.703850e+04,NaN,34.197100,-106.782000
50%,7.088973e+09,9.500000e+03,2012.000000,9.330000e+04,NaN,39.077600,-88.100900
75%,7.092094e+09,1.792600e+04,2015.000000,1.377550e+05,NaN,42.449100,-81.219000
max,7.093537e+09,4.294967e+09,2021.000000,6.480922e+07,NaN,84.514800,161.016000

In [4]:
carsdf = colordf.dropna(subset=['condition'])
len(carsdf)

NameError: name 'colordf' is not defined

In [11]:
# sourcedf.hist(bins=50, figsize=(20,15))
# plt.show()

In [3]:
# Split data 
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(sourcedf, test_size=0.2, random_state=42)
working_train = train_set.copy()
len(working_train), len(test_set)

(431807, 107952)

In [5]:
# Function for removing rows with nulls and unwanted columns
# Region and State are being removed, lat and long will be used for location data
def cleanRowsAndColumns(df):
    df = df.dropna(subset=["paint_color", 'condition', 'size', 'odometer','manufacturer', 'drive', 'type', 'cylinders', 'transmission', 'lat', 'model'])
    df = df.drop(columns=["county", "url", "region_url", "id", "image_url", "description", "vin", "region", "state"])
    return df

In [6]:
cdf = cleanRowsAndColumns(working_train)
len(cdf)

84529

In [7]:
cdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84529 entries, 154916 to 54886
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         84529 non-null  int64
 1   year          84529 non-null  float64
 2   manufacturer  84529 non-null  object
 3   model         84529 non-null  object
 4   condition     84529 non-null  object
 5   cylinders     84529 non-null  object
 6   fuel          84529 non-null  object
 7   odometer      84529 non-null  float64
 8   title_status  84529 non-null  object
 9   transmission  84529 non-null  object
 10  drive         84529 non-null  object
 11  size          84529 non-null  object
 12  type          84529 non-null  object
 13  paint_color   84529 non-null  object
 14  lat           84529 non-null  float64
 15  long          84529 non-null  float64
dtypes: float64(4), int64(1), object(11)
memory usage: 11.0+ MB

In [8]:
#Fields to encode
#manufacturer, condition, cylinders, fuel, title_status, transmission, drive, size, type, paint_color
cdf['paint_color'].value_counts()

white     20773
black     15147
silver    12306
grey       9958
blue       8842
red        8829
green      2661
brown      2606
custom     2111
yellow      579
orange      468
purple      249
Name: paint_color, dtype: int64

In [9]:
c_man = cdf['manufacturer']
c_man_encoded, car_makers = c_man.factorize()
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False)
c_man_1hot = encoder.fit_transform(c_man_encoded.reshape(-1,1))
c_man_1hot

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [10]:
from sklearn.pipeline import Pipeline
#from sklearn.preprocessing import 

from sklearn.base import(BaseEstimator, TransformerMixin)

class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names].values

In [75]:
X_train = cdf.drop("price", axis=1) # drop labels for training set
y_train = cdf["price"].copy()

In [76]:
X_train.head(1)

,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,lat,long
154916,2013.0,nissan,murano,excellent,4 cylinders,gas,92000.0,clean,automatic,4wd,mid-size,SUV,white,41.7026,-71.4476

In [16]:
cat_attribs = ['manufacturer', 'condition', 'cylinders', 'fuel', 'title_status', 'transmission', 'drive', 'size', 'type', 'paint_color']

cat_pipeline = Pipeline([
    ('selector', DataFrameSelector(cat_attribs)), 
    ("cat_pipeline", OneHotEncoder(sparse=False))
])

In [86]:
num_attibs = ['year', 'odometer', 'lat', 'long'] # Used to have 'Price'
from sklearn.preprocessing import StandardScaler

num_pipe = Pipeline([
    ('selector', DataFrameSelector(num_attibs)),
    ('std_scaler', StandardScaler())
]
)
from sklearn.pipeline import FeatureUnion
full_pipe = FeatureUnion(transformer_list=[
    ('num_pipe', num_pipe),
    ('cat_pipeline', cat_pipeline)
])

cars_prepared_train = full_pipe.fit_transform(X_train) #Used to be cdf
cars_prepared_train.shape

(84529, 107)

In [30]:
cdf.head(1)

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,lat,long
154916,8399,2013.0,nissan,murano,excellent,4 cylinders,gas,92000.0,clean,automatic,4wd,mid-size,SUV,white,41.7026,-71.4476

In [87]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()
lin_reg.fit(cars_prepared, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [88]:
lin_reg.score(cars_prepared_train, y_train)

# z = test_set.copy()
# z_set = cleanRowsAndColumns(z)
# z_preped = full_pipe.fit_transform(z_set)
# # z_preped.shape

-8.779774328127385

In [89]:
some = cdf.iloc[:5]
some_y = y.iloc[:5]
some_prep = full_pipe.transform(some)

print("Predictions:", lin_reg.predict(some_prep))

Predictions: [46155699.5330636  46087029.66082847 45902217.69901218 46264976.43243942
 46013956.82318836]

In [90]:
print(f"List:{some_y}")

List:154916     8399
373105     6000
140022    43999
192791     7999
154666    14500
Name: price, dtype: int64

In [91]:
from sklearn.metrics import mean_squared_error
car_pred = lin_reg.predict(cars_prepared_train)
lin_mse = mean_squared_error(y_train, car_pred)
lin_rmse = np.sqrt(lin_mse)
lin_mse

2368748524952114.0

In [92]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_train, lin_reg.predict(cars_prepared_train))
mse
# predictions = lin_reg.predict(cars_prepared)
# plt.scatter(predictions, predictions - y)

2368748524952114.0